<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-item>
      <ion-icon name="book-outline"></ion-icon>
      <ion-title> IES Royo Harina </ion-title>
      <ion-icon name="book-outline"></ion-icon>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
    <ion-item style="border: 3px solid rgb(49, 75, 49)">
        <img src="../../assets/img/ies.jpg">
    </ion-item>

    <ion-item style="border: 3px solid #fff">
      <ion-item><p>Bienvenido a la aplicación de horarios de nuestro instituto</p></ion-item>
       <!-- <ion-button *ngIf="visible" color="success" slot="end" expand="block" (click)="copia()">Copiar BBDD</ion-button> -->
    </ion-item>

    
    <ion-button routerLink="/estudios" color="success" expand="block">Abrir BBDD</ion-button>
    
    
  
  <!-- <div>
    <ion-button (click)="copia()">Copiar</ion-button>
  </div>
  <div>
    <ion-button (click)="abrir()">Abrir</ion-button>
  </div> -->
  <!-- <div>
    <ion-button (click)="getHoras()">Horas</ion-button>
  </div>
  <div>
    <ion-button (click)="getEstudios()">Estudios</ion-button>
  </div>
  <div>
    <ion-button (click)="getGrupos()">Grupos</ion-button>
  </div>
  <div>
    <ion-button (click)="getHorario()">Horario</ion-button>
  </div> -->
</ion-content>
